.input-bar {
  margin: 20px;
  text-align: left;
}

.input-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.btn-margin {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.input-margin {
  width: 95%;
  margin: 5px 5px 5px 5px;
  border: 0px solid black;
}

.input-danger {
  color: #999;
}

.presentation-div {
  background-color: #ffeecc;
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
}
.carrousel-div {
  width: 95%;
  height: 160px;
  align: center;
  font-style: italic;
  vertical-align: middle;
  background-color: #dde2c8;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrapper div {
  padding: 15px;
  border: 0px solid rgba(0, 0, 0, 0.3);
}

.prd-maintenance-div {
  border: 0px solid rgba(0, 0, 0, 1);
  align: center;
  text-align: center;
}

.home-div {
  background-color: #5b6375;
  color: white;
  margin: 15px;
  padding: 10px;
}

.tokeninfo-div {
  background-color: #000066;
  color: white;
  margin: 15px;
  padding: 10px;
}

.card-table {
  display: table;
}

.card-cell {
  display: table-cell;
}
.card-row {
  display: table-row;
}

.card-help {
  background-color: #ffdddd;
  border: 1px solid blue;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

.cursor-pointer {
  cursor: pointer;
  margin-bottom: 20px;
}
