.input-bar {
  margin: 20px;
  text-align: left;
}

.input-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.btn-margin {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.input-margin {
  width: 95%;
  margin: 5px 5px 5px 5px;
  border: 0px solid black;
}

.input-danger {
  color: #999;
}

.presentation-div {
  background-color: #ffeecc;
  border: 2px solid black;
  margin: 10px;
  padding: 5px;
}

.card-table {
  display: table;
}

.card-cell {
  display: table-cell;
}
.card-row {
  display: table-row;
}
